
.messageBox {
  width: 100%;
  height: calc(100% - 120px);
  margin-top: 10px;
  padding: 1px;
  overflow: hidden;
  min-height: 0;
}
@media screen and (max-width: 768px) {
  .messageBox {
    height: calc(100% - 90px);
    margin-top: 0px;
  }
}

.messages {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  min-height: 0;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease;
  padding: 10px;
}
.messages::-webkit-scrollbar {
  width: 8px;
}
.messages::-webkit-scrollbar-thumb {
  background-color: rgba(30, 144, 255, 0.5);
  border-radius: 4px;
}
.messages::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .messages {
    border: none;
    border-radius: 0px;
  }
}