.message {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  min-width: 10%;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  position: relative;
}

.userName {
  font-weight: bold;
  margin-bottom: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.buttonOpen {
  background-color: transparent;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.downArrowIcon {
  height: 13px;
  width: 13px;
  filter: invert(1);
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #1e90ff;
  padding: 10px;
  padding-top: 27px;
  padding-right: 27px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  display: flex;
  gap: 3px;
  background: transparent;
  cursor: pointer;
  padding: 0;
  color: white;
  font-size: 16px;
}

.buttonClose {
  position: absolute;
  top: 3px;
  right: 3px;
}

.closeIcon,
.deleteIcon,
.editIcon {
  height: 20px;
  width: 20px;
  filter: invert(1);
}

.closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.messageText {
  width: 100%;
  text-align: left;
  margin: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.2;
}

.messageFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.messageDate {
  text-align: right;
  font-size: 10px;
  color: #888;
  margin-top: 5px;
}

.user {
  align-self: flex-end;
  background-color: #1e90ff;
  color: #fff;
  border-bottom-right-radius: 0;
}

.other {
  align-self: flex-start;
  background-color: #fff;
  color: #333;
  border-bottom-left-radius: 0;
}
