.message {
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  min-width: 10%;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.userName {
  font-weight: bold;
  margin-bottom: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.deletButton {
  position: relative;
  width: 16px;
  height: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.deletButton::before,
.deletButton::after {
  content: "";
  position: absolute;
  left: 70%;
  top: 30%;
  width: 2px;
  height: 12px;
  background-color: white;
  transform-origin: center;
}
.deletButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.deletButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.messageText {
  margin: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.2;
}

.messageDate {
  text-align: right;
  font-size: 10px;
  color: #888;
  margin-top: 5px;
}

.user {
  align-self: flex-end;
  background-color: #1e90ff;
  color: #fff;
  border-bottom-right-radius: 0;
}

.other {
  align-self: flex-start;
  background-color: #fff;
  color: #333;
  border-bottom-left-radius: 0;
}
