.message {
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  min-width: 10%;
}

.messageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.userName {
  font-weight: bold;
  margin-bottom: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.buttons {
  display: flex;
  gap: 5px;
}

.deletButton {
  position: relative;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.deletButton::before,
.deletButton::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: white;
  transform-origin: center;
}
.deletButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.deletButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.editButton {
  position: relative;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.editIcon {
  height: 20px;
  width: 20px;
  filter: invert(1);
}

.messageText {
  width: 100%;
  text-align: left;
  margin: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.2;
}

.messageFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.messageDate {
  text-align: right;
  font-size: 10px;
  color: #888;
  margin-top: 5px;
}

.user {
  align-self: flex-end;
  background-color: #1e90ff;
  color: #fff;
  border-bottom-right-radius: 0;
}

.other {
  align-self: flex-start;
  background-color: #fff;
  color: #333;
  border-bottom-left-radius: 0;
}
