.message {
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  min-width: 10%;
}

.userName {
  font-weight: bold;
  margin-bottom: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.messageText {
  margin: 0;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.2;
}

.messageDate {
  text-align: right;
  font-size: 10px;
  color: #888;
  margin-top: 5px;
}

.user {
  align-self: flex-end;
  background-color: #1e90ff;
  color: #fff;
  border-bottom-right-radius: 0;
}
.other {
  align-self: flex-start;
  background-color: #fff;
  color: #333;
  border-bottom-left-radius: 0;
}
