.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
}
@media screen and (max-width: 768px) {
  .auth {
    width: 100%;
    padding: 0px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .form {
    gap: 5px;
  }
}

.input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  transition: all 0.2s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.input:hover {
  border-color: #1e90ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}
.input:focus {
  border-color: #1e90ff;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}
.input::placeholder {
  color: #aaa;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .input {
    font-size: 12px;
    border-radius: 0px;
  }
}

.buttonEnter {
  border: none;
  width: 100%;
  min-height: 60px;
  background: linear-gradient(135deg, #37aee2, #1e96fc);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: all 0.2s ease;
  border-radius: 45px; /* плавное скругление */
}

.buttonEnter:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.buttonEnter:active {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.buttonEnter:disabled {
  background: #b5b5b5;
  color: #eee;
  cursor: default;
  box-shadow: none;
}

.buttonEnter:disabled:hover,
.buttonEnter:disabled:active {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .buttonEnter {
    font-size: 14px;
    min-height: 70px;
  }
}
