.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .auth {
    width: 100%;
    padding: 0px;
  }
}

.formContainer {
  height: 300px;
  width: 260px;
}

.toggle {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.tab {
  flex: 1;
  padding: 10px 0;
  cursor: pointer;
  border: none;
  background: #eee;
  font-weight: 600;
  padding: 5px;
  width: 100px;
  user-select: none;
}

.tab:hover {
  background: #ddd;
}

.active {
  background: linear-gradient(135deg, #37aee2, #1e96fc);
  color: white;
}
.active:hover {
  background: linear-gradient(135deg, #37aee2, #1e96fc);
  cursor: auto;
}
