.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 768px;
  height: 100dvh;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .chat {
    width: 100%;
    padding: 0px;
  }
}
