.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panelBox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 0px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .panelBox {
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 34px;
  min-height: 34px;
}


.input {
  margin-left: 10px;
  height: 100%;
  width: 100%;
  padding: 10px 15px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  transition: all 0.2s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.input:hover {
  border-color: #1e90ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}
.input:focus {
  border-color: #1e90ff;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}
.input::placeholder {
  color: #aaa;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .input {
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 0px;
  }
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  height: 100%;
  width: fit-content;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #1e90ff;
  user-select: none;
}
@media screen and (max-width: 768px) {
  .searchBtn {
    font-size: 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 7px;
  }
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  height: 100%;
  width: fit-content;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  color: #1e90ff;
  background-color: white;
  border: 2px solid #1e90ff;
  user-select: none;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .name {
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 0px 7px;
  }
}

.usersToggle1,
.usersToggle2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 12px;
  border-radius: 25px;
  background: #1e90ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
}
.usersToggle2 {
  display: none;
}
@media screen and (max-width: 768px) {
  .usersToggle1,
  .usersToggle2 {
    font-size: 14px;
    border-radius: 10px;
    padding: 0px 7px;
  }
  .usersToggle1 {
    display: none;
  }
  .usersToggle2 {
    display: block;
  }
}

.exit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #1e90ff;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}
@media screen and (max-width: 768px) {
  .exit {
    font-size: 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 7px;
  }
}
