.messages {
  display: flex;
  width: 100%;
  height: calc(100% - 120px);
  padding: 1px;
  overflow: hidden;
  min-height: 0;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .messages {
    height: calc(100% - 90px);
    margin-top: 0px;
    flex-direction: column;
  }
}

.usersPanel {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 10px;
  padding-right: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  width: auto;
}
.usersPanel::-webkit-scrollbar {
  width: 8px;
}
.usersPanel::-webkit-scrollbar-thumb {
  background-color: rgba(30, 144, 255, 0.5);
  border-radius: 4px;
}
.usersPanel::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .usersPanel {
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    margin: 0px 10px;
    padding: 10px;
    height: 250px;
    width: auto;
  }
  .usersPanel::-webkit-scrollbar {
    width: 2px;
  }
}

.usersList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  justify-items: center;
}
@media screen and (max-width: 768px) {
  .usersList {
    align-items: center;
  }
}

.userItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  height: 100%;
  width: fit-content;
  border-radius: 25px;
  font-weight: bold;
  font-size: 14px;
  color: #1e90ff;
  background-color: white;
  border: 2px solid #1e90ff;
  user-select: none;
}
@media screen and (max-width: 768px) {
  .userItem {
    border-radius: 10px;
  }
}

.messagesBox {
  overflow-anchor: auto;
  scroll-behavior: smooth;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  min-height: 0;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.2s ease;
  padding: 10px;
}
.messagesBox::-webkit-scrollbar {
  width: 8px;
}
.messagesBox::-webkit-scrollbar-thumb {
  background-color: rgba(30, 144, 255, 0.5);
  border-radius: 4px;
}
.messagesBox::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .messagesBox {
    border: none;
    border-radius: 0px;
  }
  .messagesBox::-webkit-scrollbar {
    width: 2px;
  }
}

.dateSeparator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateSeparatorText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-size: 10px;
  color: #888;
  background-color: white;
  margin: 10px 0;
  border-radius: 15px;
  padding: 7px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .dateSeparatorText {
    border-radius: 5px;
  }
}
