.scrollButton {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 41px;
  width: 41px;
  background: rgba(255, 255, 255, 0.7);
  padding: 2px;
  z-index: 2;
  border-radius: 50%;
}

.border {
  background-color: rgba(31, 143, 255, 0.7);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 13px;
  top: 8px;
  justify-content: center;
  transform: rotate(90deg);
}

.arrow {
  color: white;
  font-size: 28px;
  transform: scale(0.6, 1.5) translate(1px, 0px);
}

.newMessageIcon {
  position: absolute;
  right: 14px;
  top: 6px;
  height: 13px;
  width: 13px;
  filter: invert(1);
  opacity: 0;
  animation: blink 2s ease infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
