.usersPanel {
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
  padding: 5px;
  padding-bottom: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  height: 250px;
  width: 200px;
  opacity: 0;
  transform: translateY(-10px) scale(0.98);
  animation: usersPanelIn 0.5s ease forwards;
  gap: 5px;
}
@keyframes usersPanelIn {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.usersPanel::-webkit-scrollbar {
  width: 8px;
}
.usersPanel::-webkit-scrollbar-thumb {
  background-color: rgba(30, 144, 255, 0.5);
  border-radius: 4px;
}
.usersPanel::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .usersPanel {
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
  }
  .usersPanel::-webkit-scrollbar {
    width: 2px;
  }
}

.title {
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 5px 0px;
  font-size: 14px;
  color: black;
  border: 2px solid #1e90ff;
  color: #1e90ff;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .title {
    border-radius: 5px;
    font-size: 12px;
    padding: 3px;
  }
}

.usersList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  justify-items: center;
  width: 100%;
}

.dialogItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
  color: black;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: auto;
  gap: 5px;
}

.selected {
  background-color: #1e90ff;
  color: white;
}

.userItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  height: 100%;
  width: 180px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 10px;
  color: black;
  background-color: white;
  height: auto;
  gap: 5px;
}

.userAvatarIcon {
  height: 20px;
  width: 20px;
  user-select: none;
}

.selectedAvatar {
  filter: invert(1);
}
