.page404 {
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(circle at top, #1e3a8a, #0f172a);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  font-family: "Segoe UI", sans-serif;
  font-size: 30px;
  margin: 0;
  animation: float 3s ease-in-out infinite;
  color: white;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
