.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .inputs {
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .inputBox {
    gap: 5px;
  }
}

.inputContainer {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .inputContainer {
    gap: 5px;
  }
}

.input {
  width: 100%;
  height: 54px;
  padding: 15px 20px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 18px;
  transition: all 0.2s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  resize: none;
  white-space: pre-wrap;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.input:hover {
  border-color: #1e90ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
}
.input:focus {
  border-color: #1e90ff;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}
.input::-webkit-scrollbar {
  display: none;
}
.input::placeholder {
  color: #aaa;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .input {
    font-size: 14px;
    border-radius: 10px;
    height: 50px;
  }
}

.buttonSend {
  border: none;
  border-radius: 25px;
  min-width: 54px;
  min-height: 54px;
  background-color: #1e90ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: all 0.2s ease;
}
.buttonSend:disabled {
  background: #b5b5b5;
  color: #eee;
  cursor: default;
  box-shadow: none;
  transform: none;
}
.buttonSend:disabled:hover,
.buttonSend:disabled:active {
  transform: none;
  box-shadow: none;
}
@media screen and (max-width: 768px) {
  .buttonSend {
    min-width: 50px;
    min-height: 50px;
    font-size: 14px;
    border-radius: 10px;
  }
}
